<h2 class="text-2xl font-semibold mb-4">Reactivos: Básicos</h2>
<hr class="mb-6">

<div class="grid grid-cols-1 gap-6">
    <div class="w-full">
        <!--Enlazar el HTML con el Objeto-->
        <form [formGroup]="myForm" autocomplete="off" class="space-y-6">

            <!-- Campo de producto -->
            <div class="flex items-center mb-3">
                <label class="w-1/4 text-gray-700">Producto</label>
                <div class="w-3/4">
                    <input type="text"
                           class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
                           formControlName="name"
                           placeholder="Nombre del producto">

                    <span *ngIf="isValidField('name')"
                    class="text-sm text-red-500">
                        <!-- Debe de ser de 3 letras -->
                        {{ getFieldError('name') }}
                    </span>
                </div>
            </div>

            <!-- Campo de precio -->
            <div class="flex items-center mb-3">
                <label class="w-1/4 text-gray-700">Precio</label>
                <div class="w-3/4">
                    <input type="number"
                           class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
                           formControlName="price"
                           placeholder="Precio del producto">

                    <span *ngIf="isValidField('price')"
                    class="text-sm text-red-500">
                        El precio debe de ser 0 o mayor
                    </span>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="flex items-center mb-3">
                <label class="w-1/4 text-gray-700">Existencias</label>
                <div class="w-3/4">
                    <input type="number"
                           class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-500"
                           formControlName="inStorage"
                           placeholder="Existencias del producto">

                    <span *ngIf="isValidField('inStorage')"
                    class="text-sm text-red-500">
                         Las existencias deben de ser 0 o mayor
                    </span>
                </div>
            </div>

            <div class="flex justify-end">
                <button (click)="onSave()" type="submit"
                        class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                    Guardar
                </button>
            </div>

        </form>

    </div>
</div>

<div class="grid grid-cols-1 gap-6 mt-6">
    <div class="w-full">
      <!-- SI cumple con las validaciones pertinentes -->
        <span class="font-semibold text-gray-700">Valid</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.valid | json }}</pre>

        <!-- Nos indica si despues de ser enviado la persona a tocado el formulario -->
        <span class="font-semibold text-gray-700">Pristine</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.pristine | json }}</pre>

        <!-- Si tocaron el formulario -->
        <span class="font-semibold text-gray-700">Touched</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.touched | json }}</pre>

        <!-- Valor en formato en JSON  -->
        <span class="font-semibold text-gray-700">Value</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.value| json }}</pre>

        <!-- Valor del price -->
        <span class="font-semibold text-gray-700">Precio</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.controls['price'].value | json }}</pre>

        <!-- Si no cumple con la validacion de 0 numeros negativos -->
        <span class="font-semibold text-gray-700">Precio Errors</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.controls['price'].errors| json }}</pre>

        <!-- Valor del name -->
        <span class="font-semibold text-gray-700">Producto Value</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.controls['name'].value | json }}</pre>

        <!-- Si no cumple con la validacion solicitada de al menos 3 digitos
         Retorna el valor en formato Json -->
        <span class="font-semibold text-gray-700">Producto Errors</span>
        <pre class="bg-gray-100 p-3 rounded-md">{{ myForm.controls['name'].errors| json }}</pre>

    </div>
</div>
